.container {
  width: 25rem;
  height: 25rem;
  margin: 2rem auto 0;
  background-color: rgb(63,175,130);
  border-radius: 0.2rem;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
  position: relative;
}

.center {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5rem;
  height: 3rem;
  cursor: pointer;
}

.no-anim {
  animation: none !important;
}

.bars {
  position: relative;
}

.bars__first {
  width: 5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
  animation: first-rev 0.75s forwards;
}

.bars__second {
  width: 5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
  margin: 1rem 0;
  animation: second-rev 0.75s forwards;
}

.bars__third {
  width: 5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
  animation: third-rev 0.75s forwards;
}

.active.bars__first {
  animation: first 0.75s forwards;
}

.active.bars__second {
  animation: second 0.5s forwards;
}

.active.bars__third {
  animation: third 0.75s forwards;
}

@keyframes first {
  0% {
    transform: translate3d(0,0,0) rotate(0deg);
  }
  50% {
    transform: translate3d(0,1.5rem,0) rotate(0deg);
  }
  100% {
    transform: translate3d(0,1.5rem,0) rotate(45deg);
  }
}

@keyframes first-rev {
  0% {
    transform: translate3d(0,1.5rem,0) rotate(45deg);
  }
  50% {
    transform: translate3d(0,1.5rem,0) rotate(0deg);
  }
  100% {
    transform: translate3d(0,0,0) rotate(0deg);
  }
}

@keyframes second {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(0.00001,0.00001);
  }
}

@keyframes second-rev {
  0% {
    transform: scale(0.00001,0.00001);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes third {
  0% {
    transform: translate3d(0,0,0) rotate(0deg);
  }
  50% {
    transform: translate3d(0,-1.5rem,0) rotate(0deg);
  }
  100% {
    transform: translate3d(0,-1.5rem,0) rotate(135deg);
  }
}

@keyframes third-rev {
  0% {
    transform: translate3d(0,-1.5rem,0) rotate(135deg);
  }
  50% {
    transform: translate3d(0,-1.5rem,0) rotate(0deg);
  }
  100% {
    transform: translate3d(0,0,0) rotate(0deg);
  }
}
