@import url('http://fonts.googleapis.com/css?family=Open+Sans:700,300');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    width: 16rem;
    height: 16rem;
    margin: 4rem auto;
    background: linear-gradient(45deg, darkslateblue, mediumturquoise);
    position: relative;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
    border-radius: 0.1rem;
}

.main {
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    font-family: 'Open Sans';
    text-transform: uppercase;
}

.num {
    height: 4rem;
    position: relative;
}

.one-behind {
    height: 1.5rem;
    width: .75rem;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    transform: rotate(45deg) translateY(0.4rem) translateX(-0.4rem);
}

.one-front {
    height: 4rem;
    width: 0.9rem;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 0 0.25rem gray;
    z-index: 10;
}

.zero--one {
    position: absolute;
    left: 0.5rem;
    height: 4rem;
    width: 4rem;
    background-color: inherit;
    border: 1rem solid white;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem gray;
    z-index: 8;
}

.zero--two {
    position: absolute;
    left: 4rem;
    height: 4rem;
    width: 4rem;
    background-color: inherit;
    border: 1rem solid white;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem gray;
    z-index: 5;
}

.days {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin-left: -0.2rem;
    letter-spacing: 0.25rem;
}

.title {
    font-weight: 300;
    line-height: 1rem;
    margin-left: 0.2rem;
}
