.container {
  width: 25rem;
  height: 25rem;
  margin: 5rem auto 0;
  background-color: rgb(39,44,52);
  position: relative;
}

.main {
  position: absolute;
  top: 30%;
  left: 27%;
  width: 11.25rem;
  height: 11.25rem;
  background-color: rgb(125,223,252);
  border: 1px solid rgb(39,44,52);
  border-radius: 50%;
  opacity: 0;
  animation: fadeinandout 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
  overflow: hidden;
}

.pyramid {
  position: absolute;
  width: 7.5rem;
  height: 3.75rem;
  top: 4.25rem;
  left: 2rem;
  background-color: #DDDADA;
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  animation: pyramidleftshade 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
  z-index: 5;
}

.pyramid-right {
  position: absolute;
  top: 4.25rem;
  left: 5.75rem;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #DDDADA;
  clip-path: polygon(0% 0%, 50% 100%, 100% 100%);
  animation: pyramidrightshade 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
  z-index:10;
}

.sun {
  position: absolute;
  background-color: rgb(255,239,0);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  top: 0.625rem;
  left: 4.375rem;
  transform-origin: 50% 400%;
  animation: raiseandset 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.sand {
  position: absolute;
  background-color: rgb(240,222,117);
  height: 3.75rem;
  width: 11.25rem;
  bottom: 0;
  z-index: 15;
}

.shadow {
  position: absolute;
  top: 7.5rem;
  height: 2rem;
  background-color: rgb(192,178,94);
  width: 11.25rem;
  z-index: 20;
  transform-origin: 50% 0;
  animation: sandshadow 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

@keyframes fadeinandout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes raiseandset {
  0% {
    background-color: #F57209;
    transform: rotate(-70deg);
  }
  30% {
    background-color: rgb(255,239,0);
    transform: rotate(-20deg);
  }
  70% {
    background-color: rgb(255,239,0);
  }
  100% {
    background-color: #F57209;
    transform: rotate(70deg);
  }
}

@keyframes pyramidrightshade {
  0% {
    background-color: white;
  }
  30% {
    background-color: #DDDADA;
  }
  70% {
    background: white;
  }
  100% {
    background: black;
  }
}

@keyframes pyramidleftshade {
  0% {
    background-color: #DDDADA;
  }
  30% {
    background-color: white;
  }
  70% {
    background-color: #DDDADA;
  }
  100% {
    background-color: black;
  }
}

@keyframes sandshadow {
  0% {
    transform: scaleY(0);
    clip-path: polygon(2.5rem 0%, 9rem 0%, 100% 0%);
  }
  30% {
    transform: scaleY(1);
    clip-path: polygon(2.5rem 0%, 9rem 0%, 100% 100%);
  }
  55% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
    clip-path: polygon(2.5rem 0%, 9rem 0%, 0% 100%);
  }
}
